[Desktop Entry]
Name=GNOME System Monitor
Name[el]=Παρακολούθηση συστήματος για το GNOME
Comment=View current processes and monitor system state
Exec=gnome-system-monitor
TryExec=gnome-system-monitor
StartupNotify=true
Terminal=false
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[el]=Παρακολούθηση;συστήματος;σύστημα;μνήμη;διεργασίες;επεξεργαστής;χρήση;πόροι;ιστορικό;υπηρεσίες;δαίμονες;δίκτυο
Type=Application
Categories=GNOME;GTK;System;Monitor;
Icon=utilities-system-monitor
Actions=AsRoot;

[Desktop Action AsRoot]
Name=Open as Root
Name[el_GR]=Άνοιγμα ως Root
Exec=gksudo gnome-system-monitor
