[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=libreoffice-startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=libreoffice %U
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOffice
GenericName=Office Suite
GenericName[el]=Σουίτα γραφείου
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment[el]=Σουίτα γραφείου συμβατή με το ανοιχτό και τυποποιημένο πρότυπο εγγράφου ODF. Υποστηρίζεται από το Document Foundation.
StartupNotify=true
StartupWMClass=libreoffice-startcenter
X-KDE-Protocols=file,http,smb,ftp,webdav
Actions=Writer;Calc;Impress;Draw;Base;Math;

[Desktop Action Writer]
Name=Libre Office Writer
Name[el]=Άνοιγμα του Writer
Exec=libreoffice --nologo --writer

[Desktop Action Calc]
Name=Libre Office Calc
Name[el]=Άνοιγμα του Calc
Exec=libreoffice --nologo --calc

[Desktop Action Impress]
Name=Libre Office Impress
Name[el]=Άνοιγμα του Impress
Exec=libreoffice --nologo --impress

[Desktop Action Draw]
Name=Libre Office Draw
Name[el]=Άνοιγμα του Draw
Exec=libreoffice --nologo --draw

[Desktop Action Base]
Name=Libre Office Base
Name[el]=Άνοιγμα του Base
Exec=libreoffice --nologo --base

[Desktop Action Math]
Name=Libre Office Math
Name[el]=Άνοιγμα του Math
Exec=libreoffice --nologo --math
