[Desktop Entry]
Comment=Use the command line
X-Ubuntu-Gettext-Domain=gnome-terminal
X-GNOME-Bugzilla-Bugzilla=GNOME
Name=Gnome Terminal
Exec=gnome-terminal
X-GNOME-DocPath=gnome-terminal/index.html
StartupNotify=true
TryExec=gnome-terminal
X-GNOME-Bugzilla-Version=3.6.2
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Product=gnome-terminal
Actions=New;AsRoot;
Keywords=Run;
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
Icon=utilities-terminal

[Desktop Action New]
Name=New Terminal
Name[el_GR]=Νέο τερματικό
Exec=gnome-terminal

[Desktop Action AsRoot]
Name=Open as Root
Name[el_GR]=Άνοιγμα ως Root
Exec=gksudo gnome-terminal
