[Desktop Entry]
Type=Application
Name=IsoSync
Name[el]=Συγχρονισμός Iso διανομής
GenericName=Iso sync
GenericName[el]=Συγχρονισμός Iso
Comment=Synchronises iso images locally.
Comment[el]=Συγχρονίζει τοπικά εικόνες iso.
Categories=Utility;Network;ConsoleOnly;
Keywords=ubuntu;iso;image;daily;live;sync;zsync;local;CD;
Keywords[el]=Συγχρονισμός;Εικόνα;τοπικά;Ημερήσια;
Icon=/usr/share/icons/fkol-k4/fkol-k4.ubuntu.square.svg
#TryExec=/usr/local/bin/fkol-k4.isosync
Exec=/usr/local/bin/fkol-k4.isosync
#Exec=fkol-k4.isosync
Terminal=true
