[Desktop Entry]
Type=Application
Name=Ubuntu Auto Updates
GenericName=System updates
Comment=Auto updates for Ubuntu-based systems
Categories=Utility;System;ConsoleOnly;
Keywords=Auto;Updates;Ubuntu;Based;
Icon=/usr/share/icons/fkol-k4/fkol-k4.donkey.grey.square.svg
Exec=fkol-k4.ubuntu_updates
Terminal=true
Actions=Reboot;ShutDown;

[Desktop Action Reboot]
Name=Reboot (systemd)
Exec=systemctl shutdown -r now

[Desktop Action ShutDown]
Name=Shut Down (systemd)
Exec=systemctl shutdown -h now
