[Desktop Entry]
Type=Application;
Name=Build A Kernel
GenericName=Builder
Comment=Build a custom Linux Kernel and patch it with BFQ I/O scheduler support (optional)
Comment[el]=Χτίσιμο πυρήνα Linux με (προαιρετική) υποστήριξη για τον BFQ I/O scheduler
Categories=Development;Utility;ConsoleOnly;
Keywords=Linux;Kernel;BFQ;custom;IO;scheduler;Con;Kolivas;Linus;Torvalds;Ubuntu;Build;Compile
Keywords[el]=Πυρήνας;Μεταγλώττιση;Χτίσιμο;
Icon=/usr/share/icons/fkol-k4/fkol-k4.Tux.svg
Exec=fkol-k4.bfq_kernel
Terminal=true
NoDisplay=false
