[Desktop Entry]
Name=Pluma (fkol-k4)
GenericName=Text Editor
Comment=Edit text files
Exec=pluma %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
X-MATE-DocPath=pluma/pluma.xml
X-MATE-FullName=pluma Text Editor
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=Pluma
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.1
X-MATE-Bugzilla-ExtraInfoScript=/usr/lib/pluma/pluma-bugreport.sh
Actions=NewWindow;NewDocument;AsRoot;

[Desktop Action NewWindow]
Name=Open a New Window
Exec=pluma --new-window

[Desktop Action NewDocument]
Name=Open a New Document
Exec=pluma --new-document

[Desktop Action AsRoot]
Name=Open as Root
Exec=pkexec pluma
