[Desktop Entry]
Name=Medit (fkol-k4)
Comment=Alternative Text editor
Comment[el]=Εναλλακτικός επεξεργαστής κειμένου
Exec=medit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=medit
Categories=Utility;TextEditor;
Actions=AsRoot;

[Desktop Action AsRoot]
Name=Open as Root
Exec=pkexec medit
