[Desktop Entry]
Type=Application
Name=Translator Box
GenericName=Online translator
Comment=Uses Google translate to translate user input string
Categories=Network;Office;
Keywords=Google;translation;translate;online;web;zenity
Icon=/usr/share/icons/fkol-k4/fkol-k4.translator_box.svg
Exec=fkol-k4.translator_box
